  /* Optional: Add custom styles here */
 
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    max-width: 100%;
   /* position: relative */
   
}

/* Prevent horz scroll (works on saffari and chrome*/

/*    html, body {
    overflow-x: hidden;
  }
 */

 header {
    margin-bottom: 20px;
 }
.header_C {
    display: flex;
    justify-content: center;
    align-items: center; /* Add this line to vertically center the items */
}


.prayer-times-table {
    margin-top: 20px;
    border: 1px solid #0c580ce1;
    border-radius: 5px;
    overflow: hidden;
    max-width: 100%;
}

.prayer-times-table th,
.prayer-times-table td {
    text-align: center;
    padding: 10px;
}

.prayer-times-table th {
    background-color: #0c580ce1;;
    color: #fff;
}

.prayer-times-table tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    max-width: 100%;
}

.result-container {
    margin-top: 20px;
}

.result {
    margin-bottom: 10px;
}

.fts {
    max-width: 100%;
}



.navbg {
    background-color: #0c580ce1;
    background-color: -webkit-linear-gradient(#0c580ce1, #0c580ce1);
}

.quranic-verse {
    text-align: center;
    padding: 20px;
  }
  
  .arabic-text {
    font-size: 24px; /* Adjust the font size as needed */
    line-height: 1.5; /* Adjust the line height as needed */
    margin-bottom: 10px;
    font-family: 'Traditional Arabic', sans-serif; /* Use a traditional Arabic font */
  }
  
  .translation-text {
    font-size: 18px; /* Adjust the font size as needed */
    line-height: 1.3; /* Adjust the line height as needed */
    color: #666; /* Set a color for the translation text */
  }

  .bg_img {
    background-image: url("moske_bild.jpeg");
    min-height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;

  }

.bild {
    max-height: 400px;
    margin-top: 10px;
    opacity: 0.9;
    border-radius: 20px;
    border: 3px solid #0c580ce1;
}

.bild-container {
    max-height: 800px;
    max-width: 800px;
    margin-top: 80px;
    opacity: 0.9;
    border-radius: 20px;
    padding: 50px;
    border: 5px solid #0c580ce1;

    
}


#stödja {
    background-color: #0c580ce1;
    color: snow;
    text-align: center;
    padding: 5px;
    margin-right: 20px;
    border-radius: 5px;
    width: 375px; 
    height: 150px; 
    opacity: 0.9;
}



@media (max-width:400px) {
    #stödja {
        width: 100vw;
        height: 150px;
        opacity: 0.8;
        backdrop-filter: blur(1px);
        margin: 0;


    }
    
}
@media (max-width:1300px) {
    #stödja {
        width: 100vw;
        height: 150px;
        opacity: 0.8;
        backdrop-filter: blur(1px);
        margin-left: auto;
        margin-right: auto;




    }
    
}

